body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6272a4;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

img {
  max-width: 200px;
}

header {
  display: flex;
  background-color: #282a36;
  width: 100%;
  justify-content: center;
}

header h1 {
  color: #fff;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(90deg, #282a36 0%, #44475a 80%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}

.content {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0px;
}

nav ul li {
  margin: 0px 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 10px;
}

nav ul li a:active {
  color: #0ca0d6;
}

a.active {
  color: #69c3e3;
}

.search-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  max-width: 900px;
  min-width: 400px;
  padding: 20px 0;
  margin: 0 auto;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  position: relative;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  border: #3a8ca9 solid 3px;
  border-radius: 5px 0 0 5px;
  outline: none;
  padding: 5px;
  color: #3a8ca9;
  font-weight: bold;
}

.search-input:focus {
  color: #3a8ca9;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.search-button {
  width: 40px;
  height: 36px;
  border: 1px solid #3a8ca9;
  background: #3a8ca9;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
  border: #3a8ca9 solid 1px;
  align-items: center;
  justify-content: center;
}

.pokemon-header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #cfcfcf;
  border-radius: 5px 5px 0 0;
}

.poke-icons-card {
  text-align: right;
  margin-right: 20px;
}

.poke-icons-card > .poke-icon {
  margin-right: 10px;
  font-size: 1.5em;
}

.poke-name-card {
  text-align: left;
  margin-left: 20px;
}

.pokemon-data {
  width: 100%;
  display: flex;
}

.pokemon-image {
  width: 100%;
  height: 100%;
}

.pokemon-abilities {
  width: 100%;
  height: auto;
}

.pokemon-abilities .title {
  font-size: 18px;
  font-weight: bold;
  border-bottom: #cfcfcf solid 1px;
  width: 100%;
  text-align: center;
}

.pokemon-abilities .list {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pokemon-abilities .list ul {
  font-weight: bold;
  text-align: left;
}

.pokemon-abilities .list ul li {
  margin-bottom: 5px;
}

.footer-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #141829 0%, #14334d 80%);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
  margin-top: 20px;
}

footer {
  display: flex;
  background-color: #14334d;
  width: 100%;
  justify-content: center;
  bottom: 0;
  height: 50px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
}

.footer-text {
  color: #3e5f7a;
}

/* poke colors */
.fire {
  box-shadow: 0px 0px 30px 0px rgba(255, 0, 0, 0.4);
}

.water {
  box-shadow: 0px 0px 30px 0px rgba(0, 55, 255, 0.4);
}

.grass {
  box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.4);
}

.electric {
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 0, 0.4);
}

.psychic {
  box-shadow: 0px 0px 30px 0px rgba(255, 0, 255, 0.4);
}

.ice {
  box-shadow: 0px 0px 30px 0px rgba(0, 255, 255, 0.4);
}

.dragon {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 255, 0.4);
}

.dark {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
}

.fairy {
  box-shadow: 0px 0px 30px 0px rgba(255, 0, 0, 0.4);
}

.ghost {
  box-shadow: 0px 0px 30px 0px rgba(164, 124, 238, 0.4);
}

.ground {
  box-shadow: 0px 0px 30px 0px rgba(103, 47, 7, 0.92);
}

.normal {
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.4);
}

.fighting {
  box-shadow: 0px 0px 30px 0px rgba(79, 0, 0, 0.4);
}

.flying {
  box-shadow: 0px 0px 30px 0px rgba(0, 195, 255, 0.4);
}

.bug {
  box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.4);
}

.poison {
  box-shadow: 0px 0px 30px 0px rgba(255, 0, 255, 0.4);
}

.rock {
  box-shadow: 0px 0px 30px 0px rgba(91, 91, 91, 0.4);
}

.steel {
  box-shadow: 0px 0px 30px 0px rgba(54, 54, 54, 0.4);
}